/vendor/
/vendor-prefixed/
node_modules
/dist
.idea
.history
docs-built
npm-log.log
test-coverage-html/
.phpunit.result.cache
screenshots
.DS_Store
*.code-workspace

elasticprobe.zip
php_test_results.htm

sample_instant_result_response.json
sample_instant_result_template.json
sample_instant_result_template2.json